h6 {
    font-size: 16pt;
/*  font-size: 19px;*/
    line-height: 30px;
/*  line-height: 24px;*/
/*  margin-top: 40px;
  margin-bottom: 21px;*/
    margin-top: 8px;
    margin-bottom: 8px; }

p {
    font-size: 13pt;
      line-height: 30px;
    margin-bottom: 8px;
/*  margin-bottom: 20px;*/
  color: #101217; }


.coffee {
  font-size: 32pt;
  color: #101217;
  display: inline-block;
  position: relative; }

.coffee :hover,
.coffee :focus {
  text-decoration: none;
  color: #101217; }




.passwordcontent{
  margin: 20px auto;
  background-color: rgba(247, 247, 247, 0.5);
}


#pass1{
background-color: rgba(247, 247, 247, 0.5);
}

/*
* Project Page Styles
**/
.userquotediv{
  padding-top:8%; 
  padding-bottom: 8%;
  margin-bottom: 8%;
}

.userquotefirstline{
  margin-bottom: 48px; 
  font-weight: 800; 
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

.markp{
  font-size: 11pt;
}

.centerp{
text-align: center;
}

.userquotemarktext{
  color:#2B42AA
}

.userimg{
  width: 100%;
  padding-bottom:48px;
}

.HRcontent{
  margin-top:48px;
  margin-bottom:64px;
}

.MainHeader{
  margin-top: 16px; 
  margin-bottom: 36px; 
  font-weight: 800;
}

.white{
  color: white;
}

.painpointcore{
  padding-top:64px; 
  padding-bottom:64px; 
  background-color: rgba(247, 247, 247, 0.5); 
}

.purplebg{
  background-color: rgba(223, 228, 242, 0.5);
}

.productbg{
  padding-top:64px; 
  padding-bottom:64px; 
  background-color: rgba(22, 34, 52, 1);
}

.productimg{
  width: 100%; margin-bottom: 16px; margin-top: 32px;
}