* {
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;

}


#nav{
  background-color: white;
  padding-top: 5px;
/*  -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:    6px 6px 10px rgba(0, 0, 0, 0.05);
  box-shadow:         6px 6px 10px rgba(0, 0, 0, 0.05);
  z-index:999;*/
}

.navbar-header .navbar-brand {
    font-size: 14pt;
    color: black;
    padding-left: 100px;
    padding-top: 25px;
}

.nav.navbar-nav {
    float:right;
    display: inline;
    padding-right: 100px;
    text-decoration: none;
    padding-top: 10px;

}

.container{
    padding-bottom: 0;
    margin-bottom: 0;

}

.nav.navbar-nav li a {
    font-family: 'Heebo', sans-serif;
    font-size: 12pt;
    color:black;
    font-weight: 300;
   	background-color:  !important;
   	border-bottom: 2px solid transparent !important;
    border-radius: 2px !important;
}

.nav.navbar-nav li a.active{
    font-weight: 500;
	background-color: white !important; 
    border-bottom: 2px solid grey !important;
    border-radius: 2px !important;
}

.nav.navbar-nav li a:hover{
    background-color: white !important; 
    border-bottom: 2px solid grey !important; 
    border-radius: 2px !important; 
}

.lt{
    text-align: left;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:grey;

}

#whitet{
    background-color: white;
    margin: auto;
    padding: 0;
}

.highlighted{
    color: #0062FA;
    font-weight: 500;
}

/*#typebutton{
    padding-top: 100px;
}

button{
  border-width:0px;
  outline: none;
  margin-bottom: 80px;
  background-color: white;
  font-size: 12pt;
}

button:active {

    border-radius: 2px;
    color: black;
    margin-bottom: 40px;
    text-decoration: underline ;

}

button.target{

    border-radius: 2px;
    color: black;
    margin-bottom: 40px;
    text-decoration: underline ;


}*/

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.header h2 {
  text-align: center;
}

.progress-container {
  width: 100%;
  height: 5px;
  background: #F8F8F8;
}

.progress-bar {
  height: 5px;
  background: #3283D6;
  width: 0%;
}


.headerfont{
	margin-bottom: 20px;
	font-weight: 500;
    font-size: 32pt;
    margin-top: 50px;
}


figure {
    width: 600px;
    height: 400px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden}



.coverimage{
    width: 95%;
    height: auto;
    margin: auto;
    border-radius: 8px;

}



.row{
   margin: 80px auto;
}

.cbottom{
   margin: 80px auto;


    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.cbottom:hover{
   padding: 60px 60px;
   margin: 80px auto;

  -webkit-box-shadow: 0 8px 16px 0  rgba(211,219,222,0.8);
  -moz-box-shadow:    60 8px 16px 0  rgba(211,219,222,0.8);
  box-shadow:         0 8px 16px 0 rgba(211,219,222,0.8);
  z-index:999;
}

#line{
    height:1px; /* you might need some positioning for this to work, see other questions about 100% height */
    width:90%;
    border:0.1px solid #CACACA;
}

#pjtext{
    font-size: 16pt;
    color:black;
    font-weight: 500;
}


.footer {
    background-color: black;
    padding-left: 100px;
    text-align: left;
    color: white;
    height: 150px;
    padding-top: 50px;
    font-size: 12px;
    padding-right: 50px;
}

.footertext{
    float:left;
    font-family: 'Heebo', sans-serif;
    font-size: 12pt;

}

.footericon{
    width:2.5%; /*control size of icon*/
    display: inline-block;
    float: right;

   
}

.footericons ul{
    list-style: none;
    margin: 0;



}

.footericons li{
    display: inline;
    vertical-align: middle; 



    /*margin-left: 1px;  /* this method also works, which means the left margin 
                         of each icon(every 'li') to its prior icon*/

    /*float: left;*/    /*you can't set float as left or right, otherwise each icon will be
                        be set left/right side, and the whole arragement will be vertical
                        no matter how you change 'zoom or width', that's the reason you 
                        failed debugging yesterday*/
} 





@media (max-width: 768px) {
	  
	#self-intro{
		text-align: left;
		padding-left: 30px;
		padding-top: 50px;

	}


    .coverimage{
        height: auto;
    }

	.typebutton{
	float:left;
	margin: auto;
	padding-left: 30px;
	padding-top: 50px;

}

	.nav.navbar-nav {
    float:left;
    margin:auto;
    display: inline;

	}

    .footericon{
    width:10%; /*control size of icon*/
    display: inline;
    margin-left: 10px;
    float: left;}
    

@media (max-width: 425px) {

.nav.navbar-nav {
    float:left;
    display: inline;
    padding-left: 30px;

}
      
#self-intro{
    text-align: left;
    padding-left: 0px;
    padding-top: 0px;

}

.coverimage{
    width: 60%;
    height: auto;
}

.typebutton{
    float:left;
    margin: auto;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 8pt;
}

.nav.navbar-nav li a {
    font-size: 10pt;
    color:grey;
    padding-top: 20px;
    font-weight: 300;
}

.footer{
    padding-left: 10px;
    padding-top: 25px;
}

.footericon{
    width:10%; /*control size of icon*/
    display: inline;
    margin-left: 0px;
    float: left;
   
}

