* {
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    font-family: 'Heebo', sans-serif;
}

.lt {
 font-family: 'Heebo', sans-serif;
 font-weight: 300;
}

.pt20{
  padding-top: 50pt;
  font-size: 20pt;
  padding-bottom: 15pt;
}

/* Style the header */
.header {
    background-color: white;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}


#nav{
  background-color: white;
  /* Style the header 
  -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:    6px 6px 10px rgba(0, 0, 0, 0.05);
  box-shadow:         6px 6px 10px rgba(0, 0, 0, 0.05);
  z-index:999;*/
}

.navbar-header .navbar-brand {
    font-size: 12pt;
    color: black;
    padding-left: 100px;
}

.nav.navbar-nav {
    float:right;
    display: inline;
    padding-right: 100px;
}

.nav.navbar-nav li a {
    font-size: 10pt;
    color:grey;
}


/* Comment 
.navbar{
    -webkit-box-shadow: 10px 10px 10px rgba(68, 68, 68, 0.1);
    -moz-box-shadow:    10px 10px 10px rgba(68, 68, 68, 0.1);
    box-shadow:         10px 10px 10px rgba(68, 68, 68, 0.1);
    z-index:999;
}
*/

.colored{
  color: #0062FA
}


.container {
  background-color: white;
}

.typebutton{
  background: white;
  padding-left: auto;
  padding-right: auto;
}

.self-intro{
  padding-bottom: 80px;
  background-color: #F8F8F8;
  padding: auto;
  text-align: left;
  padding-left: 250px;
  margin-bottom: 80px;
}


/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

/* Middle column */
.column.middle {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

/* Style the footer */


button{
  border-width:0px;
  background-color: white;
  outline: none;
  margin-bottom: 80px;

}

button:active {

    border-radius: 2px;
    color: black;
    margin-bottom: 40px;
    padding: 5px;
    text-decoration: underline ;

}

button.target{

    border-radius: 2px;
    color: black;
    margin-bottom: 40px;
    padding: 5px;
    text-decoration: underline ;

}

.wbg{
  background-color: white;
}

.project {
  display: center;
  height: 600px;
  background-color: white;
  margin-bottom: 200px;

}

.projecttitle{
  width:auto;
}

.imgproject{
  background-color: white;
}

.block{
  width:500px;
  background-color: blue;
}

.responsive{
    width: 80%;
    height: auto;
}

.footer {
    background-color: black;
    padding-left: 200px;
    text-align: left;
    color: white;
    height: 150px;
    padding-top: 50px;
    font-size: 12px;
    font-style: italic;
}


.coverimage{
  background-color: black;
  width: 500px;
  height: 500px;
}

.coverexp{
  padding-left: 100px;
}


.types{
padding-left: auto;
padding-top: auto;
}


.typebutton{
background: white;
display: inline;
padding-left: 100px;

}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other
@media (max-width: 780px) {
      
      .self-intro{
      padding-bottom:80px;
      background-color: #F8F8F8;
      padding: auto;
      text-align: left;
      padding-left: 100px;
      }

      .responsive{
        width: 80%;
        height: auto;

      }
     .types{
      padding-left: auto;
      padding-top: auto;
      }

      .typebutton{
      background: white;
      display: inline;
      padding-left: 50px;
      }

    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    .nav.navbar-nav {
    float:left;
    display: inline;
    padding-left: 80px;
}
}

@media (max-width: 320px) {
      
      .self-intro{
          padding-bottom:80px;
          background-color: #F8F8F8;
          text-align: left;
          padding-left: 50px;

      }

      .responsive{
        width: 80%;
        height: auto;

      }

      .typebutton{
      background: white;
      }
        .row {
          -webkit-flex-direction: column;
          flex-direction: column;
        }

        .nav.navbar-nav {
        float:left;
        display: inline;
        padding-left: 80px;
      }
      }
      .types{
      padding-left: auto;
      padding-top: auto;
      }

 */
